<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission
            android:name="android.permission.USE_BIOMETRIC"
            android:requiredFeature="false"/>

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:enableOnBackInvokedCallback="true"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/Theme.NuAuth">
        <activity
                android:name=".GetPasskeyActivity"
                android:excludeFromRecents="true"
                android:exported="false">
            <intent-filter>
                <action android:name="foundation.algorand.nuauth.GET_PASSKEY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".CreatePasskeyActivity"
                android:excludeFromRecents="true"
                android:exported="false">
            <intent-filter>
                <action android:name="foundation.algorand.nuauth.CREATE_PASSKEY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service
                android:name=".services.NuAuthProviderService"
                android:enabled="true"
                android:exported="true"
                android:icon="@mipmap/ic_launcher"
                android:label="NuAuth"
                android:permission="android.permission.BIND_CREDENTIAL_PROVIDER_SERVICE">
            <intent-filter>
                <action android:name="android.service.credentials.CredentialProviderService"/>
            </intent-filter>

            <meta-data
                    android:name="android.credentials.provider"
                    android:resource="@xml/provider"/>
        </service>

        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
